<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Car model</th>
      <th>Price</th>
      <th>Km</th>
      <th>Seating</th>
      <th>Availability</th>
      <th>Doors</th>
      <th>Address</th>
      <th>State</th>
      <th>Dealership</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.car_model %></td>
        <td><%= inventory.price %></td>
        <td><%= inventory.km %></td>
        <td><%= inventory.seating %></td>
        <td><%= inventory.availability %></td>
        <td><%= inventory.doors %></td>
        <td><%= inventory.address %></td>
        <td><%= inventory.state %></td>
        <td><%= inventory.dealership %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
