%p#notice= notice

%p
  %b Name:
  = @dealer.name
%p
  %b Description:
  = @dealer.description
%p
  %b Address:
  = @dealer.address

= link_to 'Edit', edit_dealer_path(@dealer)
\|
= link_to 'Back', dealers_path
