%p#notice= notice

%p
  %b Name:
  = @inventary.name
%p
  %b Car:
  = @inventary.car
%p
  %b Dealer:
  = @inventary.dealer

= link_to 'Edit', edit_inventary_path(@inventary)
\|
= link_to 'Back', inventaries_path
